body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(172, 170, 154)  !important;
}
/* headerTop */
.headerTop {
    position: relative;
    width: 100%;
    height: 100%;
}
.search-form {
    position: absolute;
    right: 10px;
}

/* headerNav */
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

/* Content */
p {
    text-align: left !important;
}
.title{
    color: #000;
    text-decoration: none;
}
.border-bottom {
    width: 100%;
    height: 2px;
    opacity: .3;
    margin: 1px 0;
    background-color: #000;
}
/* latest news */
.lastest-new {
    z-index: -999;
    width: 100%;
    height: 100%;
    margin: 15px 0;
    padding: 10px;
    border: solid 1px #0000003a;
}
.lastest-new .title {
    text-align: left;
}
.lastest-new p {
    text-overflow: ellipsis;
}

/* countrys-new */
.countrys-new {
    z-index: -999;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    padding: 10px;
    border: solid 1px #0000003a;
}
.countrys-new .title {
    text-align: left;
}
.countrys-new img {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
.countrys-new p {
    text-overflow: ellipsis;
}

/* international-news */
.international-news {
    z-index: -999;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px 0;
    border: solid 1px #0000003a;
}
.international-news img {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
/* catagory */
.catagory {
    width: 100%;
    height: 300px;
    margin: 15px 0;
    padding: 10px;
    border: solid 1px #0000003a;
}
.catagory img {
    width: 100%;
    height: 250px;
}
