body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* headerTop */
.headerTop {
    position: relative;
    width: 100%;
    height: 100%;
}
.search-form {
    position: absolute;
    right: 10px;
}

/* headerNav */
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

/* Content */
p {
    text-align: left !important;
}
.title{
    color: #000;
    text-decoration: none;
}
/* latest news */
.lastest-new {
    width: 90%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.lastest-new .title {
    text-align: left;
}
.lastest-new img {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
.lastest-new p {
    text-overflow: ellipsis;
}
.border-bottom {
    width: 100%;
    height: 2px;
    opacity: .3;
    margin-top: 40px;
    background-color: #000;
}

/* section 2 */
.news_3 .img {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}
.news_4 .img {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}
