body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .border {
    position: absolute;
    width: 300px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    border: 1px solid red;
    padding: 20px;
    text-align: center;
  }
  .border-1{
    margin: 10px 20px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
  }

  .border-2{
    margin: 10px 20px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
  }